.u-section-1 .u-sheet-1 {
  min-height: 995px;
}

.u-section-1 .u-image-1 {
  width: 478px;
  height: 416px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 177px auto 0 0;
}

.u-section-1 .u-shape-1 {
  width: 181px;
  height: 634px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: -456px auto 0 297px;
}

.u-section-1 .u-image-2 {
  width: 548px;
  height: 448px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -541px auto 0 53px;
}

.u-section-1 .u-group-1 {
  width: 530px;
  min-height: 947px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: -666px 0 37px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-1 .u-image-1 {
    width: 352px;
    height: 388px;
    margin-top: 55px;
  }

  .u-section-1 .u-shape-1 {
    width: 150px;
    height: 585px;
    margin-top: -432px;
  }

  .u-section-1 .u-image-2 {
    width: 478px;
    height: 391px;
    margin-top: -484px;
  }

  .u-section-1 .u-group-1 {
    width: 400px;
    min-height: 541px;
    margin-top: -448px;
    margin-bottom: 60px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-1 .u-shape-1 {
    width: 193px;
    height: 624px;
    margin-right: 230px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 587px;
    height: 454px;
    margin-top: -523px;
  }

  .u-section-1 .u-group-1 {
    min-height: 431px;
    margin-top: 80px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-1 .u-shape-1 {
    width: 185px;
    height: 543px;
    margin-top: -416px;
    margin-right: 165px;
  }

  .u-section-1 .u-image-2 {
    width: 487px;
    height: 398px;
    margin-top: -458px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: 70px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1028px;
  }

  .u-section-1 .u-image-1 {
    width: 267px;
    height: 230px;
  }

  .u-section-1 .u-shape-1 {
    width: 108px;
    height: 384px;
    margin-top: -266px;
    margin-right: auto;
    margin-left: 106px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 261px;
    margin-top: -308px;
  }

  .u-section-1 .u-group-1 {
    min-height: 524px;
    margin-top: 56px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}